html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    overflow: auto;
}

a {
    color: navy;
    text-decoration: none;
}

body {
    background-color: #BC641C;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: auto;
    height: 100%;
    width: 100%;
}

header {
    background-image: url("../img/pf-header.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 1000px;
}

#pflogo {
    padding-left: 5%;
}

#pflogo p {
    display: inline;
    vertical-align: 40px;
    color: 	#96AFFD;
    text-shadow: 2px 2px #000000;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 25pt; 
    white-space: nowrap;
}

#content {
    position: relative;
    margin: auto;
    width: 90%;
    min-width: 750px;
    min-height: 100%;
    max-width: 1250px;
    background-color: #FEF6EB;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #fdd2af;
    width: 150px;
    min-width: 150px;
    min-height: 100%;
    position: absolute;
    display: flex;
    height: 100%;
}

#navpanel {
    margin-top: -16px;
    /* position: -webkit-sticky; */
    position: absolute;
    width: inherit;
    min-width: inherit;
    padding-bottom: 200px;
    z-index: 99;
}

#navpanel ul {
    list-style-position: inside;
    padding-top: 0;
    padding-left:0;
    list-style: none;
}

#navpanel li ul {
    display: none;
}

#navpanel li:hover ul {
    display: block;
    position: absolute;
    padding-left: 150px;
    margin-top: -44px;
}

.navbutton:link, .navbutton:visited {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    background: #fdd2af;
    background: -moz-linear-gradient(#fdd2af, #af7851);
    background: -webkit-linear-gradient(#fdd2af, #af7851);
    background: -o-linear-gradient(#fdd2af, #af7851);
    background: linear-gradient(#fdd2af, #af7851);    
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 100;
}

.navbutton:hover, .navbuttonSub:hover {
    background-color: #ffb47f;
    background: -moz-linear-gradient(#ffb67f, #af7851);
    background: -webkit-linear-gradient(#ffb67f, #af7851);
    background: -o-linear-gradient(#ffb67f, #af7851);
    background: linear-gradient(#ffb67f, #af7851);    
}

.navbutton:active {
    background-color: #ff7f24;
    background: -moz-linear-gradient(#ff7f24, #a85319);
    background: -webkit-linear-gradient(#ff7f24, #a85319);
    background: -o-linear-gradient(#ff7f24, #a85319);
    background: linear-gradient(#ff7f24, #a85319);  
}

.navbuttonSub {
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    background: #fdd2af;
    background: -moz-linear-gradient(#fdd2af, #af7851);
    background: -webkit-linear-gradient(#fdd2af, #af7851);
    background: -o-linear-gradient(#fdd2af, #af7851);
    background: linear-gradient(#fdd2af, #af7851);    
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative; 
}

main {
    float: left;
    padding-left: 150px;
    margin: 30px;
    position: static;
    z-index: 98;
}

.pageHeading {
    color: 	#96AFFD;
    font-size: 24pt;
}

#dividingLine {
    width: 400px;
    height: 5px;
    background-color: rgb(48, 48, 48);
    margin-bottom: 30px;
}

.pagebreaker {
    width: 400px;
    height: 2px;
    background-color: rgb(150, 150, 150);
    margin: 0 auto;
}

footer {
    height: 40px;
    background-color: #808080;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
}

#copy {
    color: #404040;
    float: left;
    padding-top: 10px;
    padding-left: 6%;
}

#mail {
    float: right;
    width: 25px;
    height: 25px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5%;
}

#facebook {
    float: right;
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
}

.sectionHeader {
    font-size: 24px;
    color: #96AFFD;
}

.smalltext {
    font-size: 12px;
    color: grey;
}

.required {
    color: red;
    font-size: 30px;
}